.marquee {
  background: #FE5442;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 67px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .track {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.enable-animation .track {
  animation: marquee 10s linear infinite;
}

/* Pause on hover */
.marquee:hover .track {
  animation-play-state: paused;
}

.marquee .content {
  display: inline-block;
  position: relative;
  margin: auto;
  text-align: left;
  width: 99%;
  vertical-align: middle;
  font-family: BR Candor;
  font-style: normal;
  font-weight: 700;
  font-size: 15.8333px;
  line-height: 23px;
  color: #fff;
}

.marquee span {
  padding: 0 2em;
}